* {
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #2f4f4f; /* Темно-серый цвет текста */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(122.79deg, #B44A58 -13.55%, #637893 39.83%, #6880A0 77.69%);

}

header {
    background: linear-gradient(to right, #A13D4B, #385B8A);
    width: 100%;
    margin: auto;
    margin-top: 0;
    padding-bottom: 0;
    z-index: 10;
    top: 0; 
    position: absolute;
}

.menu {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

}

nav {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

nav a {
    margin: auto;
    text-decoration: none;
    color: #fff;
    padding: 1%;
    padding-bottom: 2%;
    padding-right: 30px;
    text-align: left;
    font-size: 22px;
}

nav a:hover {
    background-color: #01070F45; 
}

.sticker {
    max-width: 50px;
    max-height: 50px;
    transform: translateY(30%); /* Поднимаем на половину высоты */

}

.mainPng {
    display: flex;
    justify-content: space-between; /* Распределяем изображения по бокам */
    position: fixed; /* Абсолютное позиционирование */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Убедитесь, что изображения ниже кнопок */
}

.grid-container {
    margin-top: 10%;

}

.left, .right {

    z-index: 0;
    background-size: cover; /* Заполнение фона */
    background-position: center; /* Центрируем изображение */
}

.right {
    background-image: url('../img/jopa.png'); /* Убедитесь, что это правильный путь к вашему изображению */
    height: 600px;
    width: 600px;
    transform: translateY(20%); /* Поднимаем на половину высоты */
}

.left {
    background-image: url('../img/clown.png'); /* Убедитесь, что это правильный путь к вашему изображению */
    width: 1000px;
    height: 700px;

}



@media (max-width: 700px) {
            
    header {
        height: 50px;
        position: fixed;
        z-index: 100;
    }

    .menu {
        position: relative;
        cursor: pointer;
        z-index: 10; /* Чтобы меню было выше остальных элементов */
        display: block;
    }

    .zakladka {
        width: 0; 
        height: 0; 
        margin-left: 0;
        border-width: 35px 20px 15px;
        border-style: solid;
        border-color: rgba(1, 7, 15, 0.7) rgba(1, 7, 15, 0.7) transparent;
        background-color: #00000000;
        transform: translateY(-20%); /* Поднимаем на половину высоты */
        margin-left: 10px;
        


    }

    #zad {
        width: 0;
        text-decoration: none;
    }

    @keyframes magic {
        0% {opacity: 0;}
        100% {opacity: 1;}
        
      }

    nav {
        display: none; /* Скрыть навигацию по умолчанию */
        position: absolute;
        top: 100px; /* Положение меню */
        padding: 0px;
        left: 10px;
        background-color: #01070fd7;  /* Цвет фона меню */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 5; /* Чтобы меню было ниже бургер-меню */
        box-shadow: none;
    }

    #nav-menu.active {
        display: flex; /* Показать меню, когда оно активно */
        animation: magic 0.2s;
        width: 0; 
        height: 0; 
        border-width: 550px 20px 15px;
        border-style: solid;
        border-color: rgba(1, 7, 15, 0.9) rgba(1, 7, 15, 0.9) transparent;
        background-color: #ff000000;
        transform: translateY(-50%); /* Поднимаем на половину высоты */

    }
    nav a {
        color: rgba(255, 255, 255, 0);
        text-decoration: none;
        padding: 0;
        transition: background 0.3s;
        margin-left: 0;
        z-index: 100;
        font-size: 5px;
        position: absolute;
        top: -330px;
    }

    nav a:nth-child(1) {
        top: -280px;
    }

    nav a:nth-child(2) {
        top: -230px;
    }

    nav a:nth-child(3) {
        top: -180px;
    }

    nav a:nth-child(4) {
        top: -130px;
    }

    nav a:nth-child(5) {
        top: -80px;
    }
 
    .mainPng {
        display: none;
    }
}
