* {
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #2f4f4f; /* Темно-серый цвет текста */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0E0E10;

}

header {
    background: #1F1F23;
    width: 100%;
    height: 7%;
    z-index: 99;
    top: 0; 
    position: absolute;
}

.menu {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

}

nav {
    margin-top: 0.5%;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);


}

nav a:first-child {
    background-color: #2f4f4f;
    opacity: 0;
}

nav a:last-child {
    background-color: #2f4f4f;
    opacity: 0;
}

@media (min-width: 700px) {
    nav a {
        margin: auto;
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        background-color: #9147FF;
        border-radius: 10px;
        padding: 5px;
        padding-right: 9px;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}



nav a:hover {
    background-color: #48257C; 
}

.sticker {
    max-width: 50px;
    max-height: 50px;

}

#hvost {
    background-image: url("../img/hvost.png");
    height: 50px;
    width: 55px;
    position: fixed;
    z-index: 100;
    top: 7%;
    transition: top 0.001s;
    cursor: pointer;
}

.mainPng {
    display: flex;
    justify-content: space-between; /* Распределяем изображения по бокам */
    position: fixed; /* Абсолютное позиционирование */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Убедитесь, что изображения ниже кнопок */
}



.left, .right {

    z-index: 0;
    background-size: cover; /* Заполнение фона */
    background-position: center; /* Центрируем изображение */
}

.right {
    
    width: 500px;
    height: 250px;
    transform: translateX(-80%) translateY(110%);
    background-image: url('../img/auto.webp'); /* Убедитесь, что это правильный путь к вашему изображению */

}

.left {
    background-image: url('../img/clown-1.webp'); /* Убедитесь, что это правильный путь к вашему изображению */
    min-width: 900px;
    min-height: 900px;
    padding-left: 20%;

}

.grid-container {
    z-index: 2;
    margin-top: 10%;
}

footer {
    position: relative;
    background-color: #48257C;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    z-index: 100;
    font-size: large;
}

footer p {
    line-height: 1.6; /* Междустрочный интервал */
    
}

footer p a {
    color: #fff;
    text-decoration: none;
    
}

@media (max-width: 2000px) {
    .left{

    }
}


@media (max-width: 700px) {

    #hvost-phone {
        background-image: url("../img/hvost.png");
        height: 55px;
        width: 50px;
        position: fixed;
        z-index: 100;
        cursor: pointer;
        position: absolute;
        top: 30px;
    }
    
    .text p {
        font-size: 15px;
    }
            
    #hvost {
        width: 0;
        opacity: 0;
    }

    header {
        height: 50px;
        position: fixed;
        z-index: 100;
    }

    .menu {
        position: relative;
        cursor: pointer;
        z-index: 10; /* Чтобы меню было выше остальных элементов */
        display: block;
    }

    .zakladka {
        width: 40px;
        height: 45px;
        background: #48257cb4;
        transform: translateY(-20%); /* Поднимаем на половину высоты */
        margin-left: 10px;


    }

    .zakladka::before {
    content: '';
	position: absolute;
	left: 0;
	right: 0;
    top: 45px;
    width: 0;
	height: 0;
	border-top: 12px solid #48257cb4;
	border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}


    #zad {
        text-decoration: none;
    }

    @keyframes magic {
        0% {opacity: 0;}
        100% {opacity: 1;}
        
      }

    nav {
        display: none; /* Скрыть навигацию по умолчанию */
        position: absolute;
        top: 100px; /* Положение меню */
        padding: 0px;
        left: 10px;
        background-color: #01070fd7;  /* Цвет фона меню */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 5; /* Чтобы меню было ниже бургер-меню */
        box-shadow: none;
    }

    #nav-menu.active {
        display: flex; /* Показать меню, когда оно активно */
        animation: magic 0.2s;
        width: 0; 
        height: 0; 
        border-width: 500px 20px 15px;
        border-style: solid;
        border-color: #48257cb4 #48257cb4 transparent;
        background-color: #ff000000;
        transform: translateY(-50%); /* Поднимаем на половину высоты */

    }

    nav a:hover {
        background-color: #00000000; 
    }

    nav a {
        color: rgba(255, 255, 255, 0);
        text-decoration: none;
        padding: 0;
        transition: background 0.3s;
        margin-left: 0;
        z-index: 100;
        font-size: 5px;
        position: absolute;
        transform: translateX(-49%); /* Поднимаем на половину высоты */
    }

    nav a:nth-child(1) {
        width: 0;
        height: 0;
        position: absolute;
    }

    nav a:nth-child(2) {
        top: -330px;
    }

    nav a:nth-child(3) {
        top: -280px;
    }

    nav a:nth-child(4) {
        top: -230px;
    }

    nav a:nth-child(5) {
        top: -180px;
    }

    nav a:nth-child(6) {
        top: -130px;
    }

    nav a:nth-child(7) {
        top: -80px;
    }

    nav a:nth-child(8) {
        width: 0;
        height: 0;
    }

    nav a:nth-child(8) .sticker, nav a:nth-child(1) .sticker {
        max-width: 0;
        max-height: 0;
        position: absolute;
    }

    .mainPng .right {
        display: none;
    }

}
